<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <h1>My Network</h1>
    <%- include('./partials/nav.ejs') %>
    <% if (locals.post) { %>
        <h2><%= post.user.fname %> <%= post.user.lname %> post</h2>
        <div>
            <p><%= post.title %></p>
            <p><%= post.desc %></p>
            <p>Likes: <%= likes.length %></p>
        </div>
        <button type='button' onclick="likePost('<%= post.id %>')">Like</button>
    <% } %>
    <script type="text/javascript" src="/scripts.js"></script>
    <%- include('./partials/footer.ejs') %>
</body>
</html>